[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[user]
    name = Abraxas
    email = abr4xa5@proton.me
	signingkey = 7E7C2050A8A9875F
[fetch]
    prune = true
[alias]
    alias = config --get-regexp ^alias\\.
    clean-merged = "!f() { git branch --merged ${1:-develop} | egrep -v \"(^\\*|develop|dev|release|master|${1:-develop})\" | xargs git branch -d; };f"
    clean-everything = "!f() { git branch | egrep -v \"(^\\*|develop|dev|release|master|${1:-main})\" | xargs git branch -D; };f"
    clean-theirs = "!f() { git branch | egrep -v \"(^\\*|develop|dev|release|master|abraxas|${1:-main})\" | xargs git branch -D; };f"
    lg = "!f() { git log --abbrev-commit --pretty=format:'%C(yellow)%h %C(reset)%C(dim blue)%<(8,trunc)%an %C(green)(%cr) %C(dim white)- %C(reset)%s%C(bold cyan)%d%C(reset)'; };f"
    # lg = "!f() { git log --graph --all--pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate=full; };f"
    gph = "!f() { git log --graph --all --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'; };f"
    tably = "!f() { bash $HOME/cfg/bin/tably-graph; };f"
    co = checkout
    new = checkout -b
    rename = "branch -m"
    po = push origin HEAD
    pof = push origin HEAD --force-with-lease
    update-branch = "pull origin develop --rebase"
    save = "!git add -A && git commit -m 'Save' --no-verify"
    WIP = "commit -m 'WIP'"
    oops = commit --amend --no-edit
    cm = commit -m
    pullrb = pull --rebase
    undocommit = reset --soft HEAD^
    cleanall = reset --hard
    se = '!git rev-list --all | xargs git grep -F'
    st = status --short
    whats-new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    squash = !"squash() { git rebase -i HEAD~$1; }; squash"
    cfg = config --global -e
    filehistory = log -p --follow
    git = !exec git
	lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
    this = !git init && git add . && git commit -m 'Initial commit'

# for fancy git graph
[log]
    graphColors = bold 160, blink 231 bold 239, bold 166, bold black 214, bold green, bold 24, cyan
[grep]
    lineNumber = true

[push]
    default = current
    followTags = true
    autoSetupRemote = true
[pull]
    ff = only
    default = current
[checkout]
    defaultRemote = origin

# Git to SSH
# [url "git@github.com:"]
#     insteadOf = "gh:"
#     pushInsteadOf = "github:"
#     pushInsteadOf = "git://github.com/"
# [url "git@gist.github.com:"]
#     insteadOf = "gst:"
#     pushInsteadOf = "gist:"
#     pushInsteadOf = "git://gist.github.com/"

[init]
    defaultBranch = main
[core]
    protectNTFS = false
[credential]
    helper = store

# Local file for github tokens/ secrets / etc
[include]
    path = ~/cfg/gitconfig.local
[commit]
	gpgsign = false
[tag]
	gpgSign = true
